*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

*{
  /* Colors: */
--bg-2-161c32: #161C32;
--background-283046: #283046;
--unnamed-color-ff0000: #FF0000;
--unnamed-color-707070: #707070;
--unnamed-color-43384d: #43384D;
--unnamed-color-271c1c: #271C1C;
--unnamed-color-d8d8d8: #D8D8D8;
--unnamed-color-818181: #818181;
--unnamed-color-ffffff: #FFFFFF;

/* Font/text values */
--unnamed-font-family-roboto: Roboto;
--unnamed-font-family-marine: Marine;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-medium: medium;
--unnamed-font-weight-bold: bold;
--unnamed-font-size-12: 12px;
--unnamed-font-size-18: 18px;
--unnamed-font-size-20: 20px;
--unnamed-font-size-22: 22px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-14: 14px;
--unnamed-line-spacing-23: 23px;
--unnamed-line-spacing-30: 30px;
}

/* Character Styles */
.unnamed-character-style-1 {
font-family: var(--unnamed-font-family-roboto);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-12);
line-height: var(--unnamed-line-spacing-14);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-2 {
font-family: var(--unnamed-font-family-roboto);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-22);
line-height: var(--unnamed-line-spacing-30);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-3 {
font-family: var(--unnamed-font-family-roboto);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-18);
line-height: var(--unnamed-line-spacing-30);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-4 {
font-family: var(--unnamed-font-family-marine);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-20);
line-height: var(--unnamed-line-spacing-23);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
}

